@model IEnumerable <WebApplication8.Models.Mission>

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
</head>


@{
    ViewBag.Title = "Mission";
}

<br />
<!-- Breadcrumb -->
<ol class="breadcrumb">
    <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="breadcrumb-item active">Mission</li>
</ol>

<!-- Mission Jumbotron picture and text-->
<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
        <br />
        <br />
        <h1 style="color: white;">Missions</h1>
        <p class="lead"></p>
    </div>
</div>
<p class="lead">Please Choose Your Mission:</p>
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Missions
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        @{ 
            //Retreives every mission and makes it a link option in the dropdown 
            foreach(var item in Model)
            {
                <li>@Html.ActionLink(item.missionName, "MissionDetails", "Home", new {menu = item.missionID}, null)</li>
            }
        }
    </ul>
</div>