@{
    ViewBag.Title = "Home Page";
}

<div class="container" style="width:120%; margin-left:-10%">
    <div class="row" style="margin-left:-5%; height:400px; width: 120%; background:url('../../Content/img/pexels-photo-248152.jpeg') no-repeat; background-size:100%;">
        <div class="col-xs-6"></div>
        <div class="col-xs-6" style="text-align:center;">
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            
        </div>
    </div>
</div>