.cat_list{
  list-style: none;
  font-size: 16pt;
  font-family: sans-serif;
  color: black;
}

.cat_list:hover{
  color: darkBlue;
}

.selected_link{
  background-color:#CCC;
}

.hidden_tag{
  display:none;
}
