body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.missionaryBanner {
    width: 100%;
}

.contactRight {
    padding: 4% 0%;
    text-align: center;
}

.contactName {
    text-decoration: underline;
}

img.missionBanner {
    width: 65%;
    display: block;
    margin: auto;
}

td.td1 {
    width: 200px;
    font-weight: bold;
}

td.td2 {
    width: 500px;
}

tr {
    margin: 5px 0px;
}

.jumbotron{
    background-image:url("img/Bountiful_Temple_Moroni.jpg");
    background-size:cover;
    background-repeat:no-repeat;
}